<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  xmlns:uap3="http://schemas.microsoft.com/appx/manifest/uap/windows10/3"
  xmlns:uap4="http://schemas.microsoft.com/appx/manifest/uap/windows10/4"
  xmlns:uap6="http://schemas.microsoft.com/appx/manifest/uap/windows10/6"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  IgnorableNamespaces="uap mp iot uap3 uap4 uap6 uap2">

  <Identity
    Name="28619a59-338b-4145-bd75-8ac8b74d4583"
    Publisher="CN=tonyp"
    Version="1.0.0.0" />

  <mp:PhoneIdentity PhoneProductId="28619a59-338b-4145-bd75-8ac8b74d4583" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>Dev_natif</DisplayName>
    <PublisherDisplayName>tonyp</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="Dev_natif.App">
      <uap:VisualElements
        DisplayName="Dev_natif"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="Dev_natif"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png"/>
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
      </uap:VisualElements>
    </Application>
  </Applications>

  <Capabilities>
    <Capability Name="allJoyn"/>
    <uap:Capability Name="chat"/>
    <uap:Capability Name="phoneCall"/>
    <iot:Capability Name="lowLevelDevices"/>
    <uap:Capability Name="voipCall"/>
    <uap:Capability Name="musicLibrary"/>
    <uap:Capability Name="enterpriseAuthentication"/>
    <uap:Capability Name="picturesLibrary"/>
    <uap:Capability Name="sharedUserCertificates"/>
    <uap:Capability Name="contacts"/>
    <uap3:Capability Name="userNotificationListener"/>
    <Capability Name="codeGeneration"/>
    <uap4:Capability Name="offlineMapsManagement"/>
    <iot:Capability Name="systemManagement"/>
    <uap6:Capability Name="graphicsCapture"/>
    <uap2:Capability Name="phoneCallHistoryPublic"/>
    <uap:Capability Name="userAccountInformation"/>
    <Capability Name="internetClientServer"/>
    <Capability Name="internetClient"/>
    <uap3:Capability Name="backgroundMediaPlayback"/>
    <uap:Capability Name="blockedChatMessages"/>
    <uap2:Capability Name="spatialPerception"/>
    <uap:Capability Name="objects3D"/>
    <Capability Name="privateNetworkClientServer"/>
    <uap:Capability Name="appointments"/>
    <uap:Capability Name="removableStorage"/>
    <uap3:Capability Name="remoteSystem"/>
    <uap4:Capability Name="userDataTasks"/>
    <uap:Capability Name="videosLibrary"/>
    <DeviceCapability Name="webcam"/>
    <DeviceCapability Name="lowLevel"/>
    <DeviceCapability Name="bluetooth"/>
    <DeviceCapability Name="location"/>
    <DeviceCapability Name="gazeInput"/>
    <DeviceCapability Name="microphone"/>
    <DeviceCapability Name="pointOfService"/>
    <DeviceCapability Name="proximity"/>
  </Capabilities>
</Package>